FME/xsd/Energy_ADE_3.0_beta7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
****************************************************************************************
****************************************************************************************

XML Schema Definition (XSD) file for the

CityGML Energy ADE 3.0 (beta 7)

Last update: 2025-09-23

This schema file was first automatically generated using Shapechange 3.10 and
successively manually edited, annotated by means of additional tags, and restructured.

****************************************************************************************

This file was generated by:

Dr. Giorgio Agugiaro
3D Geoinformation group
Delft University of Technology
The Netherlands

https://3d.bk.tudelft.nl/gagugiaro/

****************************************************************************************

ADDITIONAL NOTES / MEMORANDUM:

After generating the XSD with Shapechange, the types of the properties linking to
bldg:_BoundarySurface must be edited manually as the name in the CityGML XSD does not 
follow the standard prefix rules. I.e.:
_BoundarySurfaceType -> AbstractBoundarySurfaceType
_BoundarySurfacePropertyType -> BoundarySurfacePropertyType

The additional tagged values are explained here:
https://3dcitydb-docs.readthedocs.io/en/latest/plugins/ade-manager/tagged-values.html

<annotation>
  <appinfo>
	<taggedValue tag="topLevel">true</taggedValue>
  </appinfo>
</annotation>

<annotation>
  <appinfo>
	<taggedValue tag="relationType">association | aggregation | composition</taggedValue>
  </appinfo>
</annotation> 

<annotation>
  <appinfo>
	<taggedValue tag="maxOccurs">1</taggedValue>
  </appinfo>
</annotation>

<annotation>
  <appinfo>
	<taggedValue tag="lod">0 | 1 | 2 | 3 | 4</taggedValue>
  </appinfo>
</annotation>

<annotation>
  <appinfo>
	<taggedValue tag="ignore">true | false</taggedValue>
  </appinfo>
</annotation>
****************************************************************************************
****************************************************************************************
-->
<schema 
xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:gml="http://www.opengis.net/gml" 
xmlns:app="http://www.opengis.net/citygml/appearance/2.0"
xmlns:core="http://www.opengis.net/citygml/2.0"
xmlns:brid="http://www.opengis.net/citygml/bridge/2.0"
xmlns:bldg="http://www.opengis.net/citygml/building/2.0" 
xmlns:frn="http://www.opengis.net/citygml/cityfurniture/2.0" 
xmlns:grp="http://www.opengis.net/citygml/cityobjectgroup/2.0"
xmlns:gen="http://www.opengis.net/citygml/generics/2.0"
xmlns:luse="http://www.opengis.net/citygml/landuse/2.0"
xmlns:dem="http://www.opengis.net/citygml/relief/2.0"
xmlns:tran="http://www.opengis.net/citygml/transportation/2.0"
xmlns:tun="http://www.opengis.net/citygml/tunnel/2.0"
xmlns:veg="http://www.opengis.net/citygml/vegetation/2.0"
xmlns:wtr="http://www.opengis.net/citygml/waterbody/2.0"
xmlns:nrg3="http://www.citygml.org/ade/energy/3.0" 
elementFormDefault="qualified" 
targetNamespace="http://www.citygml.org/ade/energy/3.0" 
version="3.0"
>
  <annotation>
    <documentation>Energy ADE 3.0 beta 7 (2025-09-23) for CityGML 2.0</documentation>
  </annotation>

  <!-- All CityGML modules added manually, in case they are not written automatically by ShapeChange -->

  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
  <import namespace="http://www.opengis.net/citygml/2.0" schemaLocation="http://schemas.opengis.net/citygml/2.0/cityGMLBase.xsd"/>
  <import namespace="http://www.opengis.net/citygml/appearance/2.0" schemaLocation="http://schemas.opengis.net/citygml/appearance/2.0/appearance.xsd"/> 
  <import namespace="http://www.opengis.net/citygml/bridge/2.0" schemaLocation="http://schemas.opengis.net/citygml/bridge/2.0/bridge.xsd"/>
  <import namespace="http://www.opengis.net/citygml/building/2.0" schemaLocation="http://schemas.opengis.net/citygml/building/2.0/building.xsd"/>
  <import namespace="http://www.opengis.net/citygml/cityfurniture/2.0" schemaLocation="http://schemas.opengis.net/citygml/cityfurniture/2.0/cityFurniture.xsd"/>
  <import namespace="http://www.opengis.net/citygml/cityobjectgroup/2.0" schemaLocation="http://schemas.opengis.net/citygml/cityobjectgroup/2.0/cityObjectGroup.xsd"/>
  <import namespace="http://www.opengis.net/citygml/generics/2.0" schemaLocation="http://schemas.opengis.net/citygml/generics/2.0/generics.xsd"/>
  <import namespace="http://www.opengis.net/citygml/landuse/2.0" schemaLocation="http://schemas.opengis.net/citygml/landuse/2.0/landUse.xsd"/>
  <import namespace="http://www.opengis.net/citygml/relief/2.0" schemaLocation="http://schemas.opengis.net/citygml/relief/2.0/relief.xsd"/>
  <import namespace="http://www.opengis.net/citygml/transportation/2.0" schemaLocation="http://schemas.opengis.net/citygml/transportation/2.0/transportation.xsd"/>
  <import namespace="http://www.opengis.net/citygml/tunnel/2.0" schemaLocation="http://schemas.opengis.net/citygml/tunnel/2.0/tunnel.xsd"/>
  <import namespace="http://www.opengis.net/citygml/vegetation/2.0" schemaLocation="http://schemas.opengis.net/citygml/vegetation/2.0/vegetation.xsd"/>
  <import namespace="http://www.opengis.net/citygml/waterbody/2.0" schemaLocation="http://schemas.opengis.net/citygml/waterbody/2.0/waterBody.xsd"/>

  <!-- *********************** -->
  <!-- Energy ADE Enumerations -->
  <!-- *********************** -->

  <simpleType name="InterpolationTypeValueType">
    <restriction base="string">
      <enumeration value="averageInPrecedingInterval"></enumeration>
      <enumeration value="averageInSucceedingInterval"></enumeration>
      <enumeration value="constantInPrecedingInterval"></enumeration>
      <enumeration value="constantInSucceedingInterval"></enumeration>
      <enumeration value="continuous"></enumeration>
      <enumeration value="discontinuous"></enumeration>
      <enumeration value="instantaneousTotal"></enumeration>
      <enumeration value="maximumInPrecedingInterval"></enumeration>
      <enumeration value="maximumInSucceedingInterval"></enumeration>
      <enumeration value="minimumInPrecedingInterval"></enumeration>
      <enumeration value="minimumInSucceedingInterval"></enumeration>
      <enumeration value="precedingTotal"></enumeration>
      <enumeration value="succeedingTotal"></enumeration>
    </restriction>
  </simpleType>

  <simpleType name="NetworkConnectionStatusValueType">
    <restriction base="string">
      <enumeration value="connected"></enumeration>
      <enumeration value="disconnectedButConnectable"></enumeration>
      <enumeration value="disconnectedAndNotConnectable"></enumeration>
      <enumeration value="unknown"></enumeration>
    </restriction>
  </simpleType>

  <simpleType name="ResourceStatusValueType">
    <restriction base="string">
      <enumeration value="actual"></enumeration>
      <enumeration value="potential"></enumeration>
      <enumeration value="unknown"></enumeration>
    </restriction>
  </simpleType>

  <simpleType name="SurfaceSideType">
    <restriction base="string">
      <enumeration value="inside"></enumeration>
      <enumeration value="outside"></enumeration>
    </restriction>
  </simpleType>

  <simpleType name="ThermalStatusValueType">
    <restriction base="string">
      <enumeration value="isOnlyHeated"></enumeration>
      <enumeration value="isOnlyCooled"></enumeration>
      <enumeration value="isHeatedAndCooled"></enumeration>
      <enumeration value="isNeitherHeatedNorCooled"></enumeration>
      <enumeration value="unknown"></enumeration>
    </restriction>
  </simpleType>

  <simpleType name="WavelengthRangeType">
    <restriction base="string">
      <enumeration value="solar"></enumeration>
      <enumeration value="infrared"></enumeration>
      <enumeration value="visible"></enumeration>
      <enumeration value="total"></enumeration>
    </restriction>
  </simpleType>


  <!-- ********************* -->
  <!-- Energy ADE  CodeLists -->
  <!-- NOTA BENE: For CodeLists, external XML files are generated. In this XSD file, they are all assigned the type gml:CodeType -->
  <!-- ********************* -->


  <!-- ********************* -->
  <!-- Energy ADE DataTypes  -->
  <!-- ********************* -->


  <element abstract="true" name="AbstractOpticalProperty" substitutionGroup="gml:_Object" type="nrg3:AbstractOpticalProperty_Type"></element>
  <complexType abstract="true" name="AbstractOpticalProperty_Type">
    <sequence>
      <element name="fraction" type="gml:ScaleType"></element>
    </sequence>
  </complexType>
  <complexType name="AbstractOpticalProperty_PropertyType">
    <sequence>
      <element ref="nrg3:AbstractOpticalProperty"/>
    </sequence>
  </complexType>


  <element name="Emissivity" substitutionGroup="nrg3:AbstractOpticalProperty" type="nrg3:EmissivityType"></element>
  <complexType name="EmissivityType">
    <complexContent>
      <extension base="nrg3:AbstractOpticalProperty_Type">
        <sequence>
          <element name="surface" type="nrg3:SurfaceSideType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EmissivityPropertyType">
    <sequence>
      <element ref="nrg3:Emissivity"/>
    </sequence>
  </complexType>


  <element name="Reflectance" substitutionGroup="nrg3:AbstractOpticalProperty" type="nrg3:ReflectanceType"></element>
  <complexType name="ReflectanceType">
    <complexContent>
      <extension base="nrg3:AbstractOpticalProperty_Type">
        <sequence>
          <element name="surface" type="nrg3:SurfaceSideType"/>
          <element name="wavelengthRange" type="nrg3:WavelengthRangeType">
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReflectancePropertyType">
    <sequence>
      <element ref="nrg3:Reflectance"/>
    </sequence>
  </complexType>


  <element name="Transmittance" substitutionGroup="nrg3:AbstractOpticalProperty" type="nrg3:TransmittanceType"></element>
  <complexType name="TransmittanceType">
    <complexContent>
      <extension base="nrg3:AbstractOpticalProperty_Type">
        <sequence>
          <element name="wavelengthRange" type="nrg3:WavelengthRangeType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TransmittancePropertyType">
    <sequence>
      <element ref="nrg3:Transmittance"/>
    </sequence>
  </complexType>


  <element abstract="true" name="AbstractQualifiedAttribute" substitutionGroup="gml:_Object" type="nrg3:AbstractQualifiedAttributeType"></element>
  <complexType abstract="true" name="AbstractQualifiedAttributeType">
    <sequence>
      <element minOccurs="0" name="description" type="string"/>
      <element minOccurs="0" name="source" type="string"/>	  
      <element name="value" type="gml:MeasureType"/>
    </sequence>
  </complexType>
  <complexType name="AbstractQualifiedAttributePropertyType">
    <sequence>
      <element ref="nrg3:AbstractQualifiedAttribute"/>
    </sequence>
  </complexType>


  <element name="QualifiedArea" substitutionGroup="nrg3:AbstractQualifiedAttribute" type="nrg3:QualifiedAreaType"></element>
  <complexType name="QualifiedAreaType">
    <complexContent>
      <extension base="nrg3:AbstractQualifiedAttributeType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="QualifiedAreaPropertyType">
    <sequence>
      <element ref="nrg3:QualifiedArea"/>
    </sequence>
  </complexType>


  <element name="QualifiedHeight" substitutionGroup="nrg3:AbstractQualifiedAttribute" type="nrg3:QualifiedHeightType"></element>
  <complexType name="QualifiedHeightType">
    <complexContent>
      <extension base="nrg3:AbstractQualifiedAttributeType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="QualifiedHeightPropertyType">
    <sequence>
      <element ref="nrg3:QualifiedHeight"/>
    </sequence>
  </complexType>


  <element name="QualifiedVolume" substitutionGroup="nrg3:AbstractQualifiedAttribute" type="nrg3:QualifiedVolumeType"></element>
  <complexType name="QualifiedVolumeType">
    <complexContent>
      <extension base="nrg3:AbstractQualifiedAttributeType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="QualifiedVolumePropertyType">
    <sequence>
      <element ref="nrg3:QualifiedVolume"/>
    </sequence>
  </complexType>


  <element name="Suitability" substitutionGroup="gml:_Object" type="nrg3:SuitabilityType"/>
  <complexType name="SuitabilityType">
    <sequence>
      <element name="reason" type="gml:CodeType"/>
      <element minOccurs="0" name="description" type="string"/>
      <element name="value" type="gml:ScaleType"/>
      <element minOccurs="0" name="schedule" type="nrg3:AbstractSchedulePropertyType">
		 <annotation>
		   <appinfo>
			<taggedValue tag="relationType">aggregation</taggedValue>
		   </appinfo>
		 </annotation> 
	  </element>
    </sequence>
  </complexType>
  <complexType name="SuitabilityPropertyType">
    <sequence>
      <element ref="nrg3:Suitability"/>
    </sequence>
  </complexType>


  <!-- ****************************************** -->
  <!-- Energy ADE Supporting classes: TimeSeries  -->
  <!-- ****************************************** -->


  <element abstract="true" name="AbstractTimeSeries" substitutionGroup="gml:_Feature" type="nrg3:AbstractTimeSeriesType"></element>
  <complexType abstract="true" name="AbstractTimeSeriesType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="acquisitionMethod" type="gml:CodeType"></element>
          <element name="interpolationType" type="nrg3:InterpolationTypeValueType"></element>
          <element minOccurs="0" name="source" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractTimeSeriesPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractTimeSeries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="RegularTimeSeries" substitutionGroup="nrg3:AbstractTimeSeries" type="nrg3:RegularTimeSeriesType"></element>
  <complexType name="RegularTimeSeriesType">
    <complexContent>
      <extension base="nrg3:AbstractTimeSeriesType">
        <sequence>
          <element name="temporalExtent" type="gml:TimePeriodPropertyType"></element>
          <element name="timeInterval" type="gml:TimeIntervalLengthType"></element>
          <element name="valuesList" type="gml:MeasureListType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RegularTimeSeriesPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:RegularTimeSeries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="RegularTimeSeriesFile" substitutionGroup="nrg3:AbstractTimeSeries" type="nrg3:RegularTimeSeriesFileType"></element>
  <complexType name="RegularTimeSeriesFileType">
    <complexContent>
      <extension base="nrg3:AbstractTimeSeriesType">
        <sequence>
          <element name="uom" type="gml:UnitOfMeasureType"></element>
          <element name="fileURI" type="anyURI"></element>
          <element name="temporalExtent" type="gml:TimePeriodPropertyType"></element>
          <element name="timeInterval" type="gml:TimeIntervalLengthType"></element>
          <element default="0" minOccurs="0" name="numberOfHeaderLines" type="integer"></element>
          <element name="fieldSeparator" type="string"></element>
          <element default="\n" minOccurs="0" name="recordSeparator" type="string"></element>
          <element default="." minOccurs="0" name="decimalSymbol" type="string"></element>
          <element default="1" minOccurs="0" name="valueColumnNumber" type="integer"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RegularTimeSeriesFilePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:RegularTimeSeriesFile"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="TypicalValuesTimeSeries" substitutionGroup="nrg3:AbstractTimeSeries" type="nrg3:TypicalValuesTimeSeriesType"></element>
  <complexType name="TypicalValuesTimeSeriesType">
    <complexContent>
      <extension base="nrg3:AbstractTimeSeriesType">
        <sequence>
          <element minOccurs="0" name="startTime" type="time"/>
          <element minOccurs="0" name="startDay" type="integer"/>
          <element minOccurs="0" name="startMonth" type="integer"/>
          <element name="temporalExtent" type="gml:TimeIntervalLengthType"></element>
          <element name="timeInterval" type="gml:TimeIntervalLengthType"></element>
          <element name="valuesList" type="gml:MeasureListType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TypicalValuesTimeSeriesPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:TypicalValuesTimeSeries"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="TypicalValuesTimeSeriesFile" substitutionGroup="nrg3:AbstractTimeSeries" type="nrg3:TypicalValuesTimeSeriesFileType"></element>
  <complexType name="TypicalValuesTimeSeriesFileType">
    <complexContent>
      <extension base="nrg3:AbstractTimeSeriesType">
        <sequence>
          <element minOccurs="0" name="startTime" type="time"/>
          <element minOccurs="0" name="startDay" type="integer"/>
          <element minOccurs="0" name="startMonth" type="integer"/>
          <element name="uom" type="gml:UnitOfMeasureType"></element>
          <element name="fileURI" type="anyURI"></element>
          <element name="temporalExtent" type="gml:TimeIntervalLengthType"></element>
          <element name="timeInterval" type="gml:TimeIntervalLengthType"></element>
          <element default="0" minOccurs="0" name="numberOfHeaderLines" type="integer"></element>
          <element name="fieldSeparator" type="string"></element>
          <element default="\n" minOccurs="0" name="recordSeparator" type="string"></element>
          <element default="." minOccurs="0" name="decimalSymbol" type="string"></element>
          <element default="1" minOccurs="0" name="valueColumnNumber" type="integer"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TypicalValuesTimeSeriesFilePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:TypicalValuesTimeSeriesFile"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="SensorConnection" substitutionGroup="nrg3:AbstractTimeSeries" type="nrg3:SensorConnectionType"></element>
  <complexType name="SensorConnectionType">
    <complexContent>
      <extension base="nrg3:AbstractTimeSeriesType">
        <sequence>
          <element name="temporalExtent" type="gml:TimeIntervalLengthType"></element>
          <element name="connectionType" type="gml:CodeType"></element>
          <element name="observationProperty" type="string"></element>
          <element minOccurs="0" name="uom" type="gml:UnitOfMeasureType"></element>
          <element minOccurs="0" name="sensorID" type="string"></element>
          <element minOccurs="0" name="sensorName" type="string"></element>
          <element minOccurs="0" name="observationID" type="string"></element>
          <element minOccurs="0" name="datastreamID" type="string"></element>
          <element minOccurs="0" name="baseURL" type="anyURI"></element>
          <element minOccurs="0" name="authType" type="gml:CodeType"></element>
          <element minOccurs="0" name="mqttServer" type="string"></element>
          <element minOccurs="0" name="mqttTopic" type="string"></element>
          <element minOccurs="0" name="linkToObservation" type="string"></element>
          <element minOccurs="0" name="linkToSensorDescription" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SensorConnectionPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:SensorConnection"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <!-- ****************************************** -->
  <!-- Energy ADE Supporting classes: Schedules   -->
  <!-- ****************************************** -->

  
  <element abstract="true" name="AbstractSchedule" substitutionGroup="gml:_Feature" type="nrg3:AbstractScheduleType"></element>
  <complexType abstract="true" name="AbstractScheduleType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="libraryCode" type="gml:CodeType"></element>
          <element name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="startTime" type="time"/>
          <element minOccurs="0" name="startDay" type="integer"/>
          <element minOccurs="0" name="startMonth" type="integer"/>
          <element minOccurs="0" name="startYear" type="integer"/>
          <element minOccurs="0" name="temporalExtent" type="gml:TimeIntervalLengthType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractSchedulePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractSchedule"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="DualValueSchedule" substitutionGroup="nrg3:AbstractSchedule" type="nrg3:DualValueScheduleType"/>
  <complexType name="DualValueScheduleType">
    <complexContent>
      <extension base="nrg3:AbstractScheduleType">
        <sequence>
          <element name="idleValue" type="gml:MeasureType"/>
          <element name="usageValue" type="gml:MeasureType"/>
          <element name="startUsageTime" type="time"/>
          <element name="endUsageTime" type="time"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DualValueSchedulePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:DualValueSchedule"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="AtomicSchedule" substitutionGroup="nrg3:AbstractSchedule" type="nrg3:AtomicScheduleType"></element>
  <complexType name="AtomicScheduleType">
    <complexContent>
      <extension base="nrg3:AbstractScheduleType">
        <sequence>
          <element minOccurs="0" name="constantValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="timeSeries" type="nrg3:AbstractTimeSeriesPropertyType">
             <annotation>
               <appinfo>
             	<taggedValue tag="relationType">composition</taggedValue>
               </appinfo>
             </annotation> 
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AtomicSchedulePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AtomicSchedule"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="CompositeSchedule" substitutionGroup="nrg3:AbstractSchedule" type="nrg3:CompositeScheduleType"></element>
  <complexType name="CompositeScheduleType">
    <complexContent>
      <extension base="nrg3:AbstractScheduleType">
        <sequence>
          <element maxOccurs="unbounded" name="scheduleComponent" type="nrg3:ScheduleComponentPropertyType">
             <annotation>
               <appinfo>
             	<taggedValue tag="relationType">composition</taggedValue>
               </appinfo>
             </annotation> 
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CompositeSchedulePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:CompositeSchedule"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="ScheduleComponent" substitutionGroup="gml:_Feature" type="nrg3:ScheduleComponentType"></element>
  <complexType name="ScheduleComponentType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
          <element default="1" name="repetitions" type="integer"/>
          <element minOccurs="0" name="additionalGap" type="gml:TimeIntervalLengthType"/>
          <element name="scheduleComponentMember" type="nrg3:AbstractSchedulePropertyType">
             <annotation>
               <appinfo>
             	<taggedValue tag="relationType">association</taggedValue>
               </appinfo>
             </annotation> 
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ScheduleComponentPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:ScheduleComponent"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="ScheduleLibrary" substitutionGroup="nrg3:AbstractLibrary" type="nrg3:ScheduleLibraryType">
    <annotation>
      <appinfo>
        <taggedValue tag="topLevel">true</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="ScheduleLibraryType">
    <complexContent>
      <extension base="nrg3:AbstractLibraryType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="libraryMember" type="nrg3:AbstractSchedulePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ScheduleLibraryPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:ScheduleLibrary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <!-- ************************ -->
  <!-- Energy ADE Core module   -->
  <!-- ************************ -->


  <element abstract="true" name="AbstractBuildingPartition" substitutionGroup="core:_CityObject" type="nrg3:AbstractBuildingPartitionType"/>
  <complexType abstract="true" name="AbstractBuildingPartitionType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="area" type="nrg3:QualifiedAreaPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="volume" type="nrg3:QualifiedVolumePropertyType"/>
          <element minOccurs="0" name="lod1Solid" type="gml:SolidPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="lod">1</taggedValue>
              </appinfo>
            </annotation>
		  </element>
          <element minOccurs="0" name="lod2Solid" type="gml:SolidPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="lod">2</taggedValue>
              </appinfo>
            </annotation>
		  </element>
          <element minOccurs="0" name="lod3Solid" type="gml:SolidPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="lod">3</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractBuildingPartitionPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractBuildingPartition"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element abstract="true" name="AbstractBuildingUnit" substitutionGroup="nrg3:AbstractBuildingPartition" type="nrg3:AbstractBuildingUnitType"/>
  <complexType abstract="true" name="AbstractBuildingUnitType">
    <complexContent>
      <extension base="nrg3:AbstractBuildingPartitionType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractBuildingUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractBuildingUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element abstract="true" name="AbstractDevice" substitutionGroup="core:_CityObject" type="nrg3:AbstractDeviceType"/>
  <complexType abstract="true" name="AbstractDeviceType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element minOccurs="0" name="model" type="string"/>
          <element minOccurs="0" name="yearOfManufacture" type="integer"/>
          <element minOccurs="0" name="numberOfDevices" type="integer"/>
          <element minOccurs="0" name="installedPower" type="gml:MeasureType"/>
          <element minOccurs="0" name="nominalEfficiency" type="gml:MeasureType"/>
          <element minOccurs="0" name="efficiencyIndicator" type="string"/>
          <element minOccurs="0" name="heatDissipation" type="gml:MeasureType"/>
          <element minOccurs="0" name="heatDissipationConvectiveFraction" type="gml:ScaleType"/>
          <element minOccurs="0" name="heatDissipationLatentFraction" type="gml:ScaleType"/>
          <element minOccurs="0" name="heatDissipationRadiantFraction" type="gml:ScaleType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="deviceOperation" type="nrg3:DeviceOperationPropertyType">
		    <annotation>
              <appinfo>
                <taggedValue tag="relationType">aggregation</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element abstract="true" name="AbstractLibrary" substitutionGroup="core:_CityObject" type="nrg3:AbstractLibraryType"/>
  <complexType abstract="true" name="AbstractLibraryType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence>
          <element minOccurs="0" name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="source" type="string"/>
          <element minOccurs="0" name="author" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractLibraryPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractLibrary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element abstract="true" name="AbstractLayeredConstruction" substitutionGroup="gml:_Feature" type="nrg3:AbstractLayeredConstructionType"></element>
  <complexType abstract="true" name="AbstractLayeredConstructionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractLayeredConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractLayeredConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element abstract="true" name="AbstractResource" substitutionGroup="gml:_Feature" type="nrg3:AbstractResourceType"/>
  <complexType abstract="true" name="AbstractResourceType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="status" type="nrg3:ResourceStatusValueType"/>
          <element name="operationType" type="gml:CodeType"/>
          <element name="amountType" type="gml:CodeType"/>
          <element minOccurs="0" name="year" type="integer"/>
          <element minOccurs="0" name="amount" type="gml:MeasureType"/>
          <element minOccurs="0" name="timeDependentAmount" type="nrg3:AbstractTimeSeriesPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>
            </annotation>
		  </element>
          <element name="isAmountNormalized" type="boolean"/>
          <element minOccurs="0" name="normalizationValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="normalizationParameter" type="string"/>
          <element minOccurs="0" name="co2Equivalent" type="gml:MeasureType"/>
          <element minOccurs="0" name="costsMoney" type="gml:MeasureType"/>
          <element minOccurs="0" name="yieldsMoney" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractResourcePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractResource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element abstract="true" name="AbstractThermalZone" substitutionGroup="nrg3:AbstractBuildingPartition" type="nrg3:AbstractThermalZoneType"/>
  <complexType abstract="true" name="AbstractThermalZoneType">
    <complexContent>
      <extension base="nrg3:AbstractBuildingPartitionType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="usageZone" type="nrg3:AbstractUsageZonePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">association</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractThermalZonePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractThermalZone"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element abstract="true" name="AbstractUsageZone" substitutionGroup="nrg3:AbstractBuildingPartition" type="nrg3:AbstractUsageZoneType"/>
  <complexType abstract="true" name="AbstractUsageZoneType">
    <complexContent>
      <extension base="nrg3:AbstractBuildingPartitionType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="buildingUnit" type="nrg3:AbstractBuildingUnitPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">association</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractUsageZonePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractUsageZone"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="EnergyPerformanceCertificate" substitutionGroup="gml:_Feature" type="nrg3:EnergyPerformanceCertificateType"></element>
  <complexType name="EnergyPerformanceCertificateType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element name="label" type="string"></element>
          <element minOccurs="0" name="value" type="gml:MeasureType"></element>
          <element minOccurs="0" name="issueDate" type="date"></element>
          <element minOccurs="0" name="expirationDate" type="date"></element>
          <element minOccurs="0" name="certificationMethod" type="string"></element>
          <element minOccurs="0" name="certificationURI" type="anyURI">
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnergyPerformanceCertificatePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:EnergyPerformanceCertificate"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="RefurbishmentMeasure" substitutionGroup="gml:_Feature" type="nrg3:RefurbishmentMeasureType"></element>
  <complexType name="RefurbishmentMeasureType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="libraryCode" type="gml:CodeType"></element>
          <element name="type" type="gml:CodeType"></element>
          <element minOccurs="0" name="startDate" type="date"></element>
          <element name="endDate" type="date"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RefurbishmentMeasurePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:RefurbishmentMeasure"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="UtilityNetworkConnection" substitutionGroup="gml:_Feature" type="nrg3:UtilityNetworkConnectionType"></element>
  <complexType name="UtilityNetworkConnectionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="networkType" type="gml:CodeType"></element>
          <element name="connectionStatus" type="nrg3:NetworkConnectionStatusValueType"></element>
          <element minOccurs="0" name="functionInNetwork" type="gml:CodeType"></element>
          <element minOccurs="0" name="usageInNetwork" type="gml:CodeType"></element>
          <element minOccurs="0" name="networkID" type="string"></element>
          <element minOccurs="0" name="networkNodeID" type="string"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UtilityNetworkConnectionPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:UtilityNetworkConnection"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="WeatherData" substitutionGroup="gml:_Feature" type="nrg3:WeatherDataType"></element>
  <complexType name="WeatherDataType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="libraryCode" type="gml:CodeType"/>
          <element name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="valueType" type="gml:CodeType"/>
          <element minOccurs="0" name="yearlyValue" type="gml:MeasureType"/>
          <element minOccurs="0" name="timeDependentValues" type="nrg3:AbstractTimeSeriesPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>
            </annotation>		    
		  </element>
          <element minOccurs="0" name="position" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WeatherDataPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:WeatherData"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <!-- ADE Extension of bldg:_AbstractBuilding -->
  <element name="bdgAtticThermalStatus" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="nrg3:ThermalStatusValueType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgBasementThermalStatus" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="nrg3:ThermalStatusValueType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgConstructionWeight" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="gml:CodeType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgArea" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="nrg3:QualifiedAreaPropertyType"></element>
  <element name="bdgHeight" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="nrg3:QualifiedHeightPropertyType"></element> 
  <element name="bdgVolume" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="nrg3:QualifiedVolumePropertyType"></element>
  <element name="bdgIsProtected" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="boolean">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgType" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="gml:CodeType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="buildingUnit" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="nrg3:AbstractBuildingUnitPropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>  
  </element>
  <element name="energyPerformanceCertificate" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="nrg3:EnergyPerformanceCertificatePropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>  
  </element>
  <element name="refurbishmentMeasure" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="nrg3:RefurbishmentMeasurePropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="thermalZone" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="nrg3:AbstractThermalZonePropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="usageZone" substitutionGroup="bldg:_GenericApplicationPropertyOfAbstractBuilding" type="nrg3:AbstractUsageZonePropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>
  </element>


  <!-- BEGIN: Manually converted Association class "CityObjectRelation" -->
  <element name="CityObjectRelation" substitutionGroup="gml:_Object" type="nrg3:CityObjectRelationType"></element>
  <complexType name="CityObjectRelationType">
    <sequence>
      <element name="relationType" type="gml:CodeType"/>
      <element name="relatedTo" type="nrg3:RelatedToPropertyType">
        <annotation>
          <appinfo>
            <taggedValue tag="relationType">association</taggedValue>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CityObjectRelationPropertyType">
    <sequence>
      <element minOccurs="0" ref="nrg3:CityObjectRelation"/>
    </sequence>
  </complexType>

  <complexType name="RelatedToPropertyType">
    <sequence>
      <element minOccurs="0" ref="core:_CityObject"></element>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <!-- END: Manually converted Association class "CityObjectRelation" -->

  <!-- ADE Extension of core:_CityObject -->
  <!-- BEGIN: Manually edited type of relatedTo property -->
  <element name="relatedTo" substitutionGroup="core:_GenericApplicationPropertyOfCityObject" type="nrg3:CityObjectRelationPropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <!-- END: Manually edited type of relatedTo property -->
  <element name="device" substitutionGroup="core:_GenericApplicationPropertyOfCityObject" type="nrg3:AbstractDevicePropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">aggregation</taggedValue>
      </appinfo>
    </annotation>    
  </element>
  <element name="layeredConstruction" substitutionGroup="core:_GenericApplicationPropertyOfCityObject" type="nrg3:AbstractLayeredConstructionPropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">association</taggedValue>
      </appinfo>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="resource" substitutionGroup="core:_GenericApplicationPropertyOfCityObject" type="nrg3:AbstractResourcePropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>  
  </element>
  <element name="suitability" substitutionGroup="core:_GenericApplicationPropertyOfCityObject" type="nrg3:SuitabilityPropertyType">
      <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>  
  </element>
  <element name="utilityNetworkConnection" substitutionGroup="core:_GenericApplicationPropertyOfCityObject" type="nrg3:UtilityNetworkConnectionPropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>  
  </element>
  <element name="weatherData" substitutionGroup="core:_GenericApplicationPropertyOfCityObject" type="nrg3:WeatherDataPropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>   
  </element>
  <element name="referencePoint" substitutionGroup="core:_GenericApplicationPropertyOfCityObject" type="gml:PointPropertyType">
    <annotation>
      <appinfo>
        <taggedValue tag="relationType">composition</taggedValue>
      </appinfo>
    </annotation>
  </element>


  <!-- *************************** -->
  <!-- Energy ADE Resources module -->
  <!-- *************************** -->


  <element name="ConstructionMaterial" substitutionGroup="nrg3:AbstractResource" type="nrg3:ConstructionMaterialType"></element>
  <complexType name="ConstructionMaterialType">
    <complexContent>
      <extension base="nrg3:AbstractResourceType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element name="endUse" type="gml:CodeType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ConstructionMaterialPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:ConstructionMaterial"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="Energy" substitutionGroup="nrg3:AbstractResource" type="nrg3:EnergyType"></element>
  <complexType name="EnergyType">
    <complexContent>
      <extension base="nrg3:AbstractResourceType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element name="endUse" type="gml:CodeType"></element>
          <element minOccurs="0" name="energyCarrier" type="gml:CodeType"></element>
          <element minOccurs="0" name="maximumLoad" type="gml:MeasureType"></element>
          <element minOccurs="0" name="source" type="gml:CodeType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnergyPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:Energy"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="Food" substitutionGroup="nrg3:AbstractResource" type="nrg3:FoodType"></element>
  <complexType name="FoodType">
    <complexContent>
      <extension base="nrg3:AbstractResourceType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element name="endUse" type="gml:CodeType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FoodPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:Food"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="OtherResource" substitutionGroup="nrg3:AbstractResource" type="nrg3:OtherResourceType"></element>
  <complexType name="OtherResourceType">
    <complexContent>
      <extension base="nrg3:AbstractResourceType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element name="endUse" type="gml:CodeType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OtherResourcePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:OtherResource"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="UrbanSpace" substitutionGroup="nrg3:AbstractResource" type="nrg3:UrbanSpaceType"></element>
  <complexType name="UrbanSpaceType">
    <complexContent>
      <extension base="nrg3:AbstractResourceType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element name="endUse" type="gml:CodeType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UrbanSpacePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:UrbanSpace"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="Waste" substitutionGroup="nrg3:AbstractResource" type="nrg3:WasteType"></element>
  <complexType name="WasteType">
    <complexContent>
      <extension base="nrg3:AbstractResourceType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element name="endUse" type="gml:CodeType"></element>
          <element minOccurs="0" name="isDangerous" type="boolean"></element>
          <element minOccurs="0" name="isRecyclable" type="boolean"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WastePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:Waste"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="Water" substitutionGroup="nrg3:AbstractResource" type="nrg3:WaterType"></element>
  <complexType name="WaterType">
    <complexContent>
      <extension base="nrg3:AbstractResourceType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element name="endUse" type="gml:CodeType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:Water"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <!-- ********************************************* -->
  <!-- Energy ADE Construction and Material module   -->
  <!-- ********************************************* -->


  <element abstract="true" name="AbstractMaterial" substitutionGroup="gml:_Feature" type="nrg3:AbstractMaterialType"></element>
  <complexType abstract="true" name="AbstractMaterialType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" name="libraryCode" type="gml:CodeType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractMaterialPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractMaterial"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="Gas" substitutionGroup="nrg3:AbstractMaterial" type="nrg3:GasType"></element>
  <complexType name="GasType">
    <complexContent>
      <extension base="nrg3:AbstractMaterialType">
        <sequence>
          <element default="false" minOccurs="0" name="isVentilated" type="boolean"></element>
          <element minOccurs="0" name="rValue" type="gml:MeasureType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GasPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:Gas"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="LayeredConstructionLibrary" substitutionGroup="nrg3:AbstractLibrary" type="nrg3:LayeredConstructionLibraryType">
    <annotation>
      <appinfo>
        <taggedValue tag="topLevel">true</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="LayeredConstructionLibraryType">
    <complexContent>
      <extension base="nrg3:AbstractLibraryType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="libraryMember" type="nrg3:AbstractLayeredConstructionPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LayeredConstructionLibraryPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:LayeredConstructionLibrary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="Layer" substitutionGroup="gml:_Feature" type="nrg3:LayerType"></element>
  <complexType name="LayerType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="thickness" type="gml:MeasureType"/>
          <element name="material" type="nrg3:AbstractMaterialPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">aggregation</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LayerPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:Layer"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="LayeredConstruction" substitutionGroup="nrg3:AbstractLayeredConstruction" type="nrg3:LayeredConstructionType"></element>
  <complexType name="LayeredConstructionType">
    <complexContent>
      <extension base="nrg3:AbstractLayeredConstructionType">
        <sequence>
          <element minOccurs="0" name="libraryCode" type="gml:CodeType"></element>
          <element minOccurs="0" name="uValue" type="gml:MeasureType"></element>
          <element minOccurs="0" name="gValue" type="gml:ScaleType"></element>
          <element minOccurs="0" name="glazingRatio" type="gml:ScaleType"></element>
          <element maxOccurs="unbounded" minOccurs="0" name="emissivity" type="nrg3:EmissivityPropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="reflectance" type="nrg3:ReflectancePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="transmittance" type="nrg3:TransmittancePropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="layer" type="nrg3:LayerPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LayeredConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:LayeredConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="MaterialLibrary" substitutionGroup="nrg3:AbstractLibrary" type="nrg3:MaterialLibraryType">
    <annotation>
      <appinfo>
        <taggedValue tag="topLevel">true</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="MaterialLibraryType">
    <complexContent>
      <extension base="nrg3:AbstractLibraryType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="libraryMember" type="nrg3:AbstractMaterialPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MaterialLibraryPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:MaterialLibrary"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="ReverseLayeredConstruction" substitutionGroup="nrg3:AbstractLayeredConstruction" type="nrg3:ReverseLayeredConstructionType"/>
  <complexType name="ReverseLayeredConstructionType">
    <complexContent>
      <extension base="nrg3:AbstractLayeredConstructionType">
        <sequence>
          <element name="baseLayeredConstruction" type="nrg3:LayeredConstructionPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">association</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReverseLayeredConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:ReverseLayeredConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="SolidMaterial" substitutionGroup="nrg3:AbstractMaterial" type="nrg3:SolidMaterialType"></element>
  <complexType name="SolidMaterialType">
    <complexContent>
      <extension base="nrg3:AbstractMaterialType">
        <sequence>
          <element minOccurs="0" name="thermalConductivity" type="gml:MeasureType"></element>
          <element minOccurs="0" name="density" type="gml:MeasureType"></element>
          <element minOccurs="0" name="specificHeatCapacity" type="gml:MeasureType"></element>
          <element minOccurs="0" name="permeance" type="gml:MeasureType"></element>
          <element minOccurs="0" name="porosity" type="gml:ScaleType"></element>
          <element minOccurs="0" name="embodiedEnergy" type="gml:MeasureType"></element>
          <element minOccurs="0" name="embodiedCarbon" type="gml:MeasureType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SolidMaterialPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:SolidMaterial"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <!-- ************************************ -->
  <!-- Energy ADE Building Physics module   -->
  <!-- ************************************ -->


  <element name="AtticFloorSurface" substitutionGroup="bldg:_BoundarySurface" type="nrg3:AtticFloorSurfaceType"/>
  <complexType name="AtticFloorSurfaceType">
    <complexContent>
      <extension base="bldg:AbstractBoundarySurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AtticFloorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AtticFloorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="BasementCeilingSurface" substitutionGroup="bldg:_BoundarySurface" type="nrg3:BasementCeilingSurfaceType"/>
  <complexType name="BasementCeilingSurfaceType">
    <complexContent>
      <extension base="bldg:AbstractBoundarySurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BasementCeilingSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:BasementCeilingSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="IntermediateFloorSurface" substitutionGroup="bldg:_BoundarySurface" type="nrg3:IntermediateFloorSurfaceType"/>
  <complexType name="IntermediateFloorSurfaceType">
    <complexContent>
      <extension base="bldg:AbstractBoundarySurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IntermediateFloorSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:IntermediateFloorSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="PartyWallSurface" substitutionGroup="bldg:_BoundarySurface" type="nrg3:PartyWallSurfaceType"/>
  <complexType name="PartyWallSurfaceType">
    <complexContent>
      <extension base="bldg:AbstractBoundarySurfaceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PartyWallSurfacePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:PartyWallSurface"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="ThermalZone" substitutionGroup="nrg3:AbstractThermalZone" type="nrg3:ThermalZoneType"></element>
  <complexType name="ThermalZoneType">
    <complexContent>
      <extension base="nrg3:AbstractThermalZoneType">
        <sequence>
          <element minOccurs="0" name="heatCapacity" type="gml:MeasureType"/>
		  <element minOccurs="0" name="infiltrationRate" type="gml:MeasureType"></element>
          <element default="true" name="isCooled" type="boolean"></element>
          <element default="true" name="isHeated" type="boolean"></element>
          <element default="false" name="coincidesWithLod2Hull" type="boolean"/>
          <element default="false" name="coincidesWithLod3Hull" type="boolean"/>
          <element minOccurs="0" maxOccurs="unbounded" name="thermalBoundary" type="bldg:BoundarySurfacePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ThermalZonePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:ThermalZone"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <!-- ADE Extension of bldg:_BoundarySurface -->
  <element name="bdgBdrySurfAzimuth" substitutionGroup="bldg:_GenericApplicationPropertyOfBoundarySurface" type="gml:AngleType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgBdrySurfGroundViewFactor" substitutionGroup="bldg:_GenericApplicationPropertyOfBoundarySurface" type="gml:ScaleType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgBdrySurfHeatCapacity" substitutionGroup="bldg:_GenericApplicationPropertyOfBoundarySurface" type="gml:MeasureType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgBdrySurfInclination" substitutionGroup="bldg:_GenericApplicationPropertyOfBoundarySurface" type="gml:AngleType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgBdrySurfIsAdiabatic" substitutionGroup="bldg:_GenericApplicationPropertyOfBoundarySurface" type="boolean">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgBdrySurfOpaqueSurfaceArea" substitutionGroup="bldg:_GenericApplicationPropertyOfBoundarySurface" type="gml:AreaType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgBdrySurfOpeningToSurfaceRatio" substitutionGroup="bldg:_GenericApplicationPropertyOfBoundarySurface" type="gml:ScaleType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgBdrySurfSkyViewFactor" substitutionGroup="bldg:_GenericApplicationPropertyOfBoundarySurface" type="gml:ScaleType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgBdrySurfThickness" substitutionGroup="bldg:_GenericApplicationPropertyOfBoundarySurface" type="gml:LengthType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgBdrySurfTotalSurfaceArea" substitutionGroup="bldg:_GenericApplicationPropertyOfBoundarySurface" type="gml:AreaType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>


  <!-- ADE Extension of bldg:_AbstractOpening -->
  <element name="bdgOpnArea" substitutionGroup="bldg:_GenericApplicationPropertyOfOpening" type="gml:AreaType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgOpnAzimuth" substitutionGroup="bldg:_GenericApplicationPropertyOfOpening" type="gml:AngleType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgOpnGroundViewFactor" substitutionGroup="bldg:_GenericApplicationPropertyOfOpening" type="gml:ScaleType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgOpnInclination" substitutionGroup="bldg:_GenericApplicationPropertyOfOpening" type="gml:AngleType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <element name="bdgOpnSkyViewFactor" substitutionGroup="bldg:_GenericApplicationPropertyOfOpening" type="gml:ScaleType">
    <annotation>
      <appinfo>
        <taggedValue tag="maxOccurs">1</taggedValue>
      </appinfo>
    </annotation>
  </element>


  <!-- *************************** -->
  <!-- Energy ADE Occupancy module -->
  <!-- *************************** -->


  <element name="BuildingUnit" substitutionGroup="nrg3:AbstractBuildingUnit" type="nrg3:BuildingUnitType"></element>
  <complexType name="BuildingUnitType">
    <complexContent>
      <extension base="nrg3:AbstractBuildingUnitType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="numberOfRooms" type="integer"></element>
          <element minOccurs="0" name="ownerName" type="string"></element>
          <element minOccurs="0" name="ownershipType" type="gml:CodeType"></element>
          <element maxOccurs="unbounded" minOccurs="0" name="address" type="core:AddressPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">association</taggedValue>
              </appinfo>
            </annotation>
		  </element>
          <element maxOccurs="unbounded" minOccurs="0" name="energyPerformanceCertificate" type="nrg3:EnergyPerformanceCertificatePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>
            </annotation>
		  </element>
          <element maxOccurs="unbounded" minOccurs="0" name="refurbishmentMeasure" type="nrg3:RefurbishmentMeasurePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">composition</taggedValue>
              </appinfo>
            </annotation>
		  </element>		  
          <element maxOccurs="unbounded" minOccurs="0" name="occupiedBy" type="nrg3:OccupantsPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">aggregation</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:BuildingUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="Occupants" substitutionGroup="gml:_Feature" type="nrg3:OccupantsType"></element>
  <complexType name="OccupantsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>		
          <element minOccurs="0" name="numberOfOccupants" type="integer"></element>
          <element minOccurs="0" name="heatDissipation" type="gml:MeasureType"/>
          <element minOccurs="0" name="heatDissipationConvectiveFraction" type="gml:ScaleType"/>
          <element minOccurs="0" name="heatDissipationLatentFraction" type="gml:ScaleType"/>
          <element minOccurs="0" name="heatDissipationRadiantFraction" type="gml:ScaleType"/>
          <element minOccurs="0" name="occupancyRate" type="nrg3:AbstractSchedulePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">aggregation</taggedValue>
              </appinfo>
            </annotation>		  
		  </element>
          <element minOccurs="0" name="averageDietType" type="gml:CodeType"/>
          <element minOccurs="0" name="averageIncomeLevel" type="gml:CodeType"/>
          <element minOccurs="0" name="averageInstructionLevel" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OccupantsPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:Occupants"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="UsageZone" substitutionGroup="nrg3:AbstractUsageZone" type="nrg3:UsageZoneType"></element>
  <complexType name="UsageZoneType">
    <complexContent>
      <extension base="nrg3:AbstractUsageZoneType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element minOccurs="0" name="isPrimary" type="boolean"></element>
          <element minOccurs="0" name="numberOfBuildingUnits" type="integer"></element>
          <element minOccurs="0" name="internalHeatGains" type="gml:MeasureType"></element>
          <element minOccurs="0" name="internalHeatGainsConvectiveFraction" type="gml:ScaleType"></element>
          <element minOccurs="0" name="internalHeatGainsLatentFraction" type="gml:ScaleType"></element>
          <element minOccurs="0" name="internalHeatGainsRadiantFraction" type="gml:ScaleType"></element>
          <element minOccurs="0" name="coolingSchedule" type="nrg3:AbstractSchedulePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">aggregation</taggedValue>
              </appinfo>
            </annotation>	
		  </element>
          <element minOccurs="0" name="heatingSchedule" type="nrg3:AbstractSchedulePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">aggregation</taggedValue>
              </appinfo>
            </annotation>	
		  </element>
          <element minOccurs="0" name="ventilationSchedule" type="nrg3:AbstractSchedulePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">aggregation</taggedValue>
              </appinfo>
            </annotation>	
		  </element>
          <element maxOccurs="unbounded" minOccurs="0" name="occupiedBy" type="nrg3:OccupantsPropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="relationType">aggregation</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UsageZonePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:UsageZone"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <!-- ********************************* -->
  <!-- Energy ADE Devices module   -->
  <!-- ******************************** -->


  <element abstract="true" name="AbstractSolarCollector" substitutionGroup="nrg3:AbstractDevice" type="nrg3:AbstractSolarCollectorType"></element>
  <complexType abstract="true" name="AbstractSolarCollectorType">
    <complexContent>
      <extension base="nrg3:AbstractDeviceType">
        <sequence>
          <element minOccurs="0" name="moduleArea" type="gml:AreaType"/>
          <element minOccurs="0" name="apertureArea" type="gml:AreaType"/>
          <element minOccurs="0" name="azimuth" type="gml:AngleType"/>
          <element minOccurs="0" name="inclination" type="gml:AngleType"/>
          <element minOccurs="0" name="lod2MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="lod">2</taggedValue>
              </appinfo>
            </annotation>
		  </element>
          <element minOccurs="0" name="lod3MultiSurface" type="gml:MultiSurfacePropertyType">
            <annotation>
              <appinfo>
                <taggedValue tag="lod">3</taggedValue>
              </appinfo>
            </annotation>
		  </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractSolarCollectorPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:AbstractSolarCollector"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="Boiler" substitutionGroup="nrg3:AbstractDevice" type="nrg3:BoilerType"></element>
  <complexType name="BoilerType">
    <complexContent>
      <extension base="nrg3:AbstractDeviceType">
        <sequence>
          <element name="hasCondensation" type="boolean"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BoilerPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:Boiler"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="DeviceOperation" substitutionGroup="gml:_Feature" type="nrg3:DeviceOperationType"></element>
  <complexType name="DeviceOperationType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element minOccurs="0" name="yearlyGlobalEfficiency" type="double"/>
          <element minOccurs="0" name="schedule" type="nrg3:AbstractSchedulePropertyType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DeviceOperationPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:DeviceOperation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="ElectricalStorageDevice" substitutionGroup="nrg3:AbstractDevice" type="nrg3:ElectricalStorageDeviceType"/>
  <complexType name="ElectricalStorageDeviceType">
    <complexContent>
      <extension base="nrg3:AbstractDeviceType">
        <sequence>
          <element minOccurs="0" name="batteryTechnology" type="gml:CodeType"/>
          <element minOccurs="0" name="powerCapacity" type="gml:MeasureType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ElectricalStorageDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:ElectricalStorageDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="GenericDevice" substitutionGroup="nrg3:AbstractDevice" type="nrg3:GenericDeviceType"/>
  <complexType name="GenericDeviceType">
    <complexContent>
      <extension base="nrg3:AbstractDeviceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GenericDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:GenericDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="GenericElectricalDevice" substitutionGroup="nrg3:AbstractDevice" type="nrg3:GenericElectricalDeviceType"/>
  <complexType name="GenericElectricalDeviceType">
    <complexContent>
      <extension base="nrg3:AbstractDeviceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GenericElectricalDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:GenericElectricalDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="GenericSolarCollector" substitutionGroup="nrg3:AbstractSolarCollector" type="nrg3:GenericSolarCollectorType"/>
  <complexType name="GenericSolarCollectorType">
    <complexContent>
      <extension base="nrg3:AbstractSolarCollectorType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GenericSolarCollectorPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:GenericSolarCollector"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="HeatPump" substitutionGroup="nrg3:AbstractDevice" type="nrg3:HeatPumpType"/>
  <complexType name="HeatPumpType">
    <complexContent>
      <extension base="nrg3:AbstractDeviceType">
        <sequence>
          <element name="heatSource" type="gml:CodeType"/>
          <element minOccurs="0" name="copSourceTemperature" type="gml:MeasureType"></element>
          <element minOccurs="0" name="copOperationTemperature" type="gml:MeasureType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HeatPumpPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:HeatPump"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="LightingDevice" substitutionGroup="nrg3:AbstractDevice" type="nrg3:LightingDeviceType"/>
  <complexType name="LightingDeviceType">
    <complexContent>
      <extension base="nrg3:AbstractDeviceType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LightingDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:LightingDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="MovableShadingDevice" substitutionGroup="nrg3:AbstractDevice" type="nrg3:MovableShadingDeviceType"/>
  <complexType name="MovableShadingDeviceType">
    <complexContent>
      <extension base="nrg3:AbstractDeviceType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
          <element name="installationSide" type="nrg3:SurfaceSideType"/>
          <element minOccurs="0" name="maximumCoverRatio" type="gml:ScaleType"/>
          <element minOccurs="0" name="transmittance" type="nrg3:TransmittancePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MovableShadingDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:MovableShadingDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="PhotovoltaicCollector" substitutionGroup="nrg3:AbstractSolarCollector" type="nrg3:PhotovoltaicCollectorType"/>
  <complexType name="PhotovoltaicCollectorType">
    <complexContent>
      <extension base="nrg3:AbstractSolarCollectorType">
        <sequence>
          <element name="cellType" type="gml:CodeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PhotovoltaicCollectorPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:PhotovoltaicCollector"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="PhotovoltaicThermalCollector" substitutionGroup="nrg3:AbstractSolarCollector" type="nrg3:PhotovoltaicThermalCollectorType"></element>
  <complexType name="PhotovoltaicThermalCollectorType">
    <complexContent>
      <extension base="nrg3:AbstractSolarCollectorType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
          <element name="cellType" type="gml:CodeType"/>
          <element minOccurs="0" name="opticalEfficiency" type="gml:ScaleType"/>
          <element minOccurs="0" name="linearHeatLossCoefficient" type="double"/>
          <element minOccurs="0" name="quadraticHeatLossCoefficient" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PhotovoltaicThermalCollectorPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:PhotovoltaicThermalCollector"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="SolarThermalCollector" substitutionGroup="nrg3:AbstractSolarCollector" type="nrg3:SolarThermalCollectorType"></element>
  <complexType name="SolarThermalCollectorType">
    <complexContent>
      <extension base="nrg3:AbstractSolarCollectorType">
        <sequence>
          <element name="type" type="gml:CodeType"/>
          <element minOccurs="0" name="opticalEfficiency" type="gml:ScaleType"/>
          <element minOccurs="0" name="linearHeatLossCoefficient" type="double"/>
          <element minOccurs="0" name="quadraticHeatLossCoefficient" type="double"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SolarThermalCollectorPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:SolarThermalCollector"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <element name="ThermalStorageDevice" substitutionGroup="nrg3:AbstractDevice" type="nrg3:ThermalStorageDeviceType"/>
  <complexType name="ThermalStorageDeviceType">
    <complexContent>
      <extension base="nrg3:AbstractDeviceType">
        <sequence>
          <element minOccurs="0" name="preparationTemperature" type="gml:MeasureType"/>
          <element minOccurs="0" name="medium" type="gml:CodeType"/>
          <element minOccurs="0" name="thermalLossesFactor" type="gml:MeasureType"></element>
          <element minOccurs="0" name="volume" type="gml:VolumeType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ThermalStorageDevicePropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:ThermalStorageDevice"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <!-- *************************************** -->
  <!-- Energy ADE Urban Function Area module   -->
  <!-- *************************************** -->


  <element name="UrbanFunctionArea" substitutionGroup="grp:CityObjectGroup" type="nrg3:UrbanFunctionAreaType">
    <annotation>
      <appinfo>
        <taggedValue tag="topLevel">true</taggedValue>
      </appinfo>
    </annotation>
  </element>
  <complexType name="UrbanFunctionAreaType">
    <complexContent>
      <extension base="grp:CityObjectGroupType">
        <sequence>
          <element name="type" type="gml:CodeType"></element>
          <element minOccurs="0" name="code" type="gml:CodeType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="UrbanFunctionAreaPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:UrbanFunctionArea"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>


  <!-- ********************************* -->
  <!-- Energy ADE WeatherStation module  -->
  <!-- ********************************* -->


  <element name="WeatherStation" substitutionGroup="core:_CityObject" type="nrg3:WeatherStationType">
    <annotation>
      <appinfo>
        <taggedValue tag="topLevel">true</taggedValue>
      </appinfo>
    </annotation>  
  </element>
  <complexType name="WeatherStationType">
    <complexContent>
      <extension base="core:AbstractCityObjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WeatherStationPropertyType">
    <sequence minOccurs="0">
      <element ref="nrg3:WeatherStation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>

</schema>